@use "../../../scss/" as *;

.chef-card {
  padding: 5px;
  border: $border;
  transition: all 0.5s;
  border-radius: 3px;
  text-align: center;

  &__image {
    position: relative;

    .overlay {
      position: absolute;
      background-color: #2a2a2a;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }

    .social-icon {
      position: absolute;
      color: $txt-color;
      width: 100%;
      top: 50%;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      z-index: 2;

      li {
        margin: 0 5px;
        display: inline-block;
      }

      a {
        display: inline-block;
        background-color: $main-color;
        color: inherit;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 100%;

        &:hover {
          background-color: $sub-color;
        }
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 20px 0px;
    color: $txt-color;

    h4 {
      transition: all 0.3s;
      font-size: 20px;
      font-weight: 700;
      color: $txt-color;
    }

    span {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  &:hover {
    .overlay {
      visibility: visible;
      opacity: 0.9;
    }

    .social-icon {
      visibility: visible;
      opacity: 1;
    }

    .chef-card__content {
      color: $sub-color;
      h4 {
        color: $sub-color;
      }
    }
  }
}
