@use "../../../scss/" as *;

.chef-section {
  padding-top: 120px;
  &__heading {
    padding: 0 33%;
    margin-bottom: 25px;
    @include mobile {
      padding: 0;
    }
    text-align: center;

    h6 {
      padding-left: 0px;
    }
    h6::before {
      display: none;
    }

    h2 {
      padding-right: 0px;
    }
  }
}
