$body-bg: #fff;
$body-sub-bg: #fffafa;
$main-color: #fff;
$sub-color: #fb5849;

$txt-color: #2a2a2a;

$font-poppins: "Poppins", sans-serif;
$font-dancing-script: "Dancing Script", cursive;

$border: 1px solid #afafaf;

$header-height: 100px;
$header-bg-color: #f7f7f7;

$mobile-width: 768px;
$tablet-width: 1023px;
